        body {
            color:#ffffff;
            background-color: #000000; 
    				font-family: Calibri, Arial, Verdana;
    				font-size: 15px;
    				text-align: justify;
    				text-shadow: 0.05em 0.05em #000 !important;
				}
        
/* ++++++++++++++++++++ Lista ++++++++++++++++++++ */	
  
div.lista{
	position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 22px;
  padding: 2px 0 3px 0;
	font-size: 9px !important;
	text-shadow: 0.1em 0.1em #000 !important;
	text-align: right;
  vertical-align: middle;
	background-image: url(image/cssimage/tdm.png);
	border: 0;
	border-bottom: solid 1px #696969;
	border-top: solid 1px #696969;
	z-index: 1 !important;
}
    
		div.lista li{
		list-style: none;
		}	
		div.lista input{
      	float: right;
      	padding: 2px 4px 2px 4px !important;
        margin: 0 2px 0 2px;
      	width: auto !important;
      	background-color: transparent;
      	background-image: url(image/cssimage/tdo.png);
        color: #a2a2a2;	
      	text-decoration: none !important;
      	font-weight: bold !important;
      	vertical-align: middle;
      	text-align: center;
      	border: 1px solid #696969;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      }
		div.lista input:hover {color:#ffdb30; border:#ffdb30 1px solid; text-decoration: none !important;}

/* ++++++++++++++++++++ Menu ++++++++++++++++++++ */	

				#nava2 {
					top: 0px;
          float: left;
					left: 2px;
					z-index: 3;
					height: auto;
				}  
        
         a.menukomunikace {
					position: absolute; top: 2px; left:6px;
					z-index: 2;
          background-color: #ffdb30;
          background-image: url(image/cssimage/mkomunikace.png);
					width: 30px;
					height: 30px;
					background-repeat: no-repeat;
          background-position: center;
					border: 1px solid #696969;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
				}
						a.menukomunikace:hover  {
							z-index: 4;
              background-image: url(image/cssimage/mkomunikace2.png);
						}
				
				a.menupolitika {
					position: absolute; top: 2px; left:48px;
					z-index: 2;
          background-color: #ffdb30;
					background-image: url(image/cssimage/mdiplomacie.png);
					width: 30px;
					height: 30px;
					background-repeat: no-repeat;
          background-position: center;
					border: 1px solid #696969;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
				}
						a.menupolitika:hover  {
							z-index: 4;
							background-image: url(image/cssimage/mdiplomacie2.png);
						}
						
				a.menuvyzkum  {
					position: absolute; top: 2px; left:91px;
					z-index: 2;
          background-color: #ffdb30;
					background-image: url(image/cssimage/mvyzkum.png);
					width: 30px;
					height: 30px;
					background-repeat: no-repeat;
          background-position: center;
					border: 1px solid #696969;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
				}
						a.menuvyzkum:hover  {
							z-index: 4;
							background-image: url(image/cssimage/mvyzkum2.png);
						}
				
				a.menuarmada {
					position: absolute; top: 2px; left:133px;
					z-index: 2;
          background-color: #ffdb30;
					background-image: url(image/cssimage/marmada.png);
					width: 30px;
					height: 30px;
					background-repeat: no-repeat;
          background-position: center;
					border: 1px solid #696969;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
				}
						a.menuarmada:hover {
							z-index: 4;
							background-image: url(image/cssimage/marmada2.png);
						}
						
				a.menugalaxy {
					position: absolute; top: 2px; left:175px;
					z-index: 2;
          background-color: #ffdb30;
					background-image: url(image/cssimage/mgalaxy.png);
					width: 30px;
					height: 28px;
					background-repeat: no-repeat;
          background-position: center;
					border: 1px solid #696969;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
				}
						a.menugalaxy:hover {
							z-index: 4;
							background-image: url(image/cssimage/mgalaxy2.png);
						}
        
            
 
 	.menu {
					position:absolute;
          top: 0px;
          left: 0;
          padding: 2px 5px 0 5px;  
					margin: 0;
					list-style-type: none; 
					display:block;
          font-size: 15px;
				}
						.menu ul {
							position: absolute; 
							visibility: hidden; 
							padding: 25px 5px 5px 5px; 
            	margin: 23px 0 0 -5px;
              width: 208px;
							list-style-type: none;
							background-image:url(image/cssimage/tcerna2.png); 
              border: solid 1px #a2a2a2;
							-webkit-border-bottom-right-radius: 4px;
							-webkit-border-bottom-left-radius: 4px;
							-moz-border-radius-bottomright: 4px;
							-moz-border-radius-bottomleft: 4px;
							border-bottom-right-radius: 4px;
							border-bottom-left-radius: 4px;
							}
						.menu li {
							float: left; 
							padding: 2px 0px 2px 0px;  
							white-space: nowrap;
							}
						.menu a {
							padding: 3px 3px 5px 3px; 
							text-align: left;  
							color: #3399ff; 
							display: block; 
							text-decoration: none; 
							font-weight: bold;
						}
          .menu a:hover{
						color: #ffdb30 !important;
					}
					.menu li a {
						color: #3399ff;
						text-decoration: none;
						text-shadow: silver;
						font-weight: bold;
					}
					.menu ul a:link {
						color: #fff;
						border-bottom: none; 
						margin: 2px 5px 2px 5px ; 
					}
					.menu ul a:visited {
						color: #fff; 
						border-bottom: none; 
						}
					.menu ul a:hover{
						color: #ffdb30;
						}
					.menu li:hover ul, ul.menu li:hover ul { visibility: visible;}
					.menu li li {float: none; border: none; padding: 0; margin: 0;}       